---
---

@import "{{ site.theme }}";

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #9295a3;
}

nav li {
    display: inline-block;
    margin-right: 40px;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #4CAF50;
    color: white;
}