---
---

@import "{{ site.theme }}";

nav ul {
    margin: 0;
    padding: 8px 0 5px 0;
    list-style: none;
    text-align: center;
    background-color: #9295a3;
}

nav li {
    display: inline-block;
    padding: 0 30px 0 30px
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: #f2ff00;
}
