---
---

@import "{{ site.theme }}";

nav ul {
    list-style: none;
    text-align: center;
    padding: 8px 0 4px 0;
    background-color: #9295a3;
}

nav ul li {
    display: inline-block;
    padding: 0 30px 0 30px;
    position: relative;
}

nav ul li a {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
}

nav ul li a:hover {
    color: #f2ff00;
}

nav ul li ul {
    list-style: none;
    text-align: left;
    padding: 8px 0 4px 0;
    background-color: #9295a3;
    position: absolute;
}

nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    float: left;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
}

nav ul li ul li a:hover {
    color: #f2ff00;
}
